<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


  </head>
  <body>
    <h1>Hello Welcome to my new page</h1>
    <p>Thanks for coming to my ninja page. To give us a little info, check out <a href="localhost:5000/dojos/new">here</a> or ninjas page, <a href="localhost:5000/ninjas">Go Here!</a></p>
  </body>
</html>
