<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <h1>Ninjas!</h1>
    <ul>
      <li>Strong</l1>
      <li>Fast</li>
      <li>Dissappear</li>
    </ul>
    <img src="{{ url_for('static', filename='images/ninjas.png')}}" alt="Colored Ninjas">
    <p> If you want to find out more about ninjas, visit <a href="https://en.wikipedia.org/wiki/Ninja">Wikipedia Page</a>.</p>
  </body>
</html>
