<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja</title>
  </head>
  <body>
    {% if not color %}
      <img src="static/img/tmnt.png" alt="Four Ninjas">
    {% elif color == 'blue' %}
      <img src="{{ url_for('static', filename='img/leonardo.jpg')}}" alt="Leonardo">
    {% elif color == 'orange' %}
      <img src="{{ url_for('static', filename='img/michelangelo.jpg')}}" alt="Leonardo">
    {% elif color == 'red' %}
      <img src="{{ url_for('static', filename='img/raphael.jpg')}}" alt="Raphael">
    {% elif color == 'purple' %}
      <img src="{{ url_for('static', filename='img/donatello.jpg')}}" alt="Donatello">
    {% else %}
      <img src="{{ url_for('static', filename='img/notapril.jpg')}}" alt="Megan Fox">
    {% endif %}
  </body>
</html>
